---
layout: default
---

<!-- static.html -->
    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
      <div class="vertical">
        <div class="lozenge">
            <div class="row">
              <div class="col-lg-12">
                <div class="blog-logo"><img src="assets/images/logo-full-3col-dark-0300x0100.png" alt="{{site.title}}" /></div>
                <h1 class="tagline">{% include splashcontent.html %}</h1>
              </div>
              </div>
            </div>
        </div>
      </div>
</div>
    </header>


{{ content }}

